/* FONT IMPORT */
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

button {
    background-color: #fff;
}

/* GENERAL STYLES */
html {
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
}

body {
    padding: 0.5em;
    min-height: 100vh;
    text-align: center;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 2em;
}

h1 {
    margin-top: 5vh;
}

/* HEADER SECTION */
header {
    padding: 0.5em;
    /* background-color: #438afc; */
    width: 100vw;

    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

#exit-button {
    /* margin-left: 10px; */
    padding: 0.5em;
    width: 3rem;
    height: 3rem;

    font-size: 1.2em;
    border-radius: 3rem;
    border: none;

    background-color: #fff;
    color: #000;

    transition: all 0.2s linear;
}

#exit-button:hover {
    box-shadow: rgba(130, 137, 144, 0.2) 0px 10px 20px;
    cursor: pointer;
}

/* #exit-button a {
    color: #000;
    text-decoration: none;
} */

/* TIMER SECTION */
#timer {
    margin-top: 5vh;
    width: min(80%, 650px);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

/* GET CODE SECTION */
#get-code-container {
    margin-top: 5vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
}

#get-code-button {
    margin-left: -20px;
    font-size: 1.2em;
    font-weight: bold;

    padding: 0.5em;

    border: 5px solid #000;
    opacity: 0.6;

    transition: all 0.1s linear;
}

.canClick:hover {
    background-color: #438afc;
    cursor: pointer;
}

.canClick:active {
    transform: scale(0.96);
}

#code {
    margin-left: -20px;
    transform: scale(0);
    display: block;
    width: min(60vw, 550px);

    border: 5px solid #000;
    padding: 0.5em;

    transition: all 0.1s linear;
}

/* RESET TIME SECTION */
#reset-time-button {
    transform: scale(0);
    font-size: 1.2em;
    font-weight: bold;

    padding: 0.5em;
    margin-left: -10px;

    border: 5px solid #000;

    transition: all 0.1s linear;
}

#reset-time-button:hover {
    background-color: #ff6347;
    cursor: pointer;
}

#reset-time-button:active {
    transform: scale(0.96);
}

/* MEDIA QUERIES */
@media screen and (min-width: 300px) {
    html {
        font-size: 1rem;
    }
}

@media screen and (min-width: 600px) {
    html {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 1000px) {
    #reset-time-button {
        margin-left: -20px;
    }

    #get-code-button {
        margin-left: -30px;
    }

    #code {
        margin-left: -30px;
    }
}