/* IMPORT FONT */
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

/* RESET */
* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

/* GENERAL STYLES */
html {
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
}

body {
    padding: 0.5em;
    text-align: center;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    min-height: 100vh;
}

/* HEADER SECTION */
header {
    margin-top: -0.5em;
    padding: 0.25em 0.5em;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row nowrap;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 5px 27px;
}

#title {
    letter-spacing: 2px;
    color: #000;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#header-codes {
    cursor: pointer;

    transition: all 0.2s linear;
}

#header-codes:hover {
    color: #438afc;
}

/* REDEEM SECTION */
main {
    text-align: center;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 4em;
}

main img {
    transform: scale(0);
}

#redeem-container {
    width: min(80vw, 650px);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 1em;

    transition: all 0.1s linear;
}

#redeem-container input[type='text'] {
    font-size: 1.2em;
    font-weight: bolder;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    padding: 0.5em;

    border: 4px solid #000;
    border-radius: 16px;

    transition: all 0.3s linear;
}

#redeem-container input[type='text']:focus {
    border-color: #438afc;
}

#redeem-container button {
    font-size: 1.2em;
    font-weight: bold;
    padding: 0.5em;

    border: 4px solid #000;
    border-radius: 16px;
    background-color: #fff;

    transition: all 0.1s linear;
}

#redeem-container button:hover {
    background-color: #438afc;
}

#redeem-container button:active {
    transform: scale(0.96);
}

#result-message {
    display: block;
    transform: scale(0);
    opacity: 0;
    font-weight: bolder;
    text-transform: uppercase;
    padding: 0.5em;

    /* background-color: #90ee90; */
    border: 4px solid #000;
    border-radius: 16px;
}

/* ANIMATIONS */

/* RESULT MESSAGE */
.result-message-intro {
    animation-name: messageIntro;
    animation-duration: 0.3s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes messageIntro {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    50% {
        transform: scale(1.2);
        opacity: 0.6;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.result-message-out {
    animation-name: messageOut;
    animation-duration: 0.3s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes messageOut {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(1.2);
        opacity: 0.6;
    }

    100% {
        transform: scale(0);
        opacity: 0;
    }
}

/* RESULT IMAGE */
.result-image-intro {
    animation-name: imageIntro;
    animation-duration: 0.3s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes imageIntro {
    0% {
        transform: scale(0) rotate(360deg);
        opacity: 0;
    }

    50% {
        transform: scale(1.2) rotate(180deg);
        opacity: 0.6;
    }

    100% {
        transform: scale(1) rotate(0);
        opacity: 1;
    }
}

.result-image-out {
    animation-name: imageOut;
    animation-duration: 0.3s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes imageOut {
    0% {
        transform: scale(1) rotate(0);
        opacity: 1;
    }

    50% {
        transform: scale(1.2) rotate(180deg);
        opacity: 0.6;
    }

    100% {
        transform: scale(0) rotate(360deg);
        opacity: 0;
    }
}



